@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Serif', serif;
  /* font-family: 'Roboto Slab', serif; */
  /* background-color: #BBD2C5; */
  /* font-family: 'Crimson Text', serif;
font-family: 'Courier Prime', monospace */
}

.text_align {
  text-align: center;
}

.dis_ib {
  display: inline-block;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 10px;
  display: inline;
}

h1 {
  font-size: 54px;
  font-weight: 400;
}

#intro .container .row {
  margin-top: 30px;
}

.div_1 {
  margin: 60px 0px 15px;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #4082c4
}

.div_2 {
  margin-top: 80px;
}

a {
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  /* font-weight: bold; */
  margin-right: 18px;
  padding: 5px 40px;
  border: 3px solid #4082c4;
  background-color: #474559;
  color: #d39e00;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.4s ease;
  /* todo width */
}

a:hover {
  color: #FFC200;
}

.quote {
  color: #5b5b5b;
  background-color: #eee;
}

#intro .container {
  margin-top: 130px;
}

.typo_intro {
  margin-bottom: 40px;
}

.typo_intro h1 span {
  color: #FFC200;
  font-family: 'Kaushan Script', cursive;
}